// css reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, button, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}

// macros
$primary-color: #98bad5;
$secondary-color: #c6d3e3;
$footer-height: 4rem;

@font-face {
  font-family: 'MerchantCopy';
  src: url('/src/fonts/MerchantCopy-GOXq.ttf') format('truetype');
}

* {
  color: black;
  font-family: 'MerchantCopy';
}

body {
  font-family: 'MerchantCopy';
  height: 100%;
  color: $primary-color;
  background-color: $primary-color;
}

  
.bg-1 {
  background-color: $primary-color;
}

.bg-2 {
  background-color: $secondary-color;
}

.bg-3 {
  background-color: white;
}

// begin footer styling
.footer-cls {
  height: $footer-height;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.plain-link {
  color: black;
  text-decoration: none;
  background: none;
  border-radius: 1rem;
  &:hover {
    cursor: grab;
    text-decoration: underline;
  }
  height: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.75rem;
}

.side-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.4rem;
}

.center-icon {
  margin-inline: 1rem;
}



// end footer styling

// begin bills page styling

.all-bills {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin: 1rem;
}

.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}

.buyers {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buyer-icon {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin: 0.3rem;
  padding-top: 0.1rem;
}

// .bill-delete-btn {
//   position: absolute;
//   top: 0;
//   right: 0;
//   button {
//     padding: 0.2rem;
//     background-color: transparent;
//     color: black;
//     &:hover {
//       color: gray;
//     }
//   }
// }

// .bill-body {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;
//   gap: 0.5rem;
//   &:hover {
//     cursor: grab;
//   }
// }

// .items {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 0.3rem;
// }

// .item-row {
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
// }

// .items {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

// end bills page styling

// begin new bill page styling

form {
  &:invalid {
    button {
      color: rgb(160, 160, 160);
      pointer-events: none;
    }
  }
}
.disabled button {
  color: rgb(84, 84, 84);
}

.new-bill-container {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
}

.manual-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: white;
  gap: 1rem;
}

.no-display {
  display: none;
}

.submit-bill-button-container {
  position: absolute;
  bottom: $footer-height;
  left: 0px;
  width: 100vw;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-bill-button {
  padding: 0.3rem;
  width: 80%;
}

.store-name-form {
  label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
  }
}

.input-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }
  input {
    max-width: 11ch;
  }
}

.input-form, .store-name-form {
  input, button {
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;
  }
  .add-btn {
    background-color: rgb(185, 185, 185);
    :hover {
      color: white;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance:textfield; /* Firefox */
}


// end bills page styling

// begin howto page styling